##Flask==2.0.1
##python-telegram-bot==13.7


python-telegram-bot==20.3
Pillow==10.0.0
httpx==0.24.1
urllib3==1.26.15
six==1.16.0

python-dotenv==1.0.1
#for secret managements & deployment on streamlit
